!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    #PoweredByDiv
      Powered By 
      %a#PoweredByLink{:href => "http://developer.rottentomatoes.com/", :target => '_blank'}
    %title Comment on the Movies
    %link{:href => "http://github.com/necolas/normalize.css", :media => "screen", :rel => "stylesheet"}/
    %link{:href => "main.css", :media => "screen", :rel => "stylesheet"}/
  %body
    %h1
      %a{:href => "/"}Comment on the Movies
    #MovieTableContainer
      %span#WOTY Movie List Type:
      %select#MovieList
        / Sinatra doesn't have the same form helpers that Rails does (AFAIK), so I'm putting together by hand here.
        / If I'm wrong, please let me know.
        %option{:value => 'box_office'} Box Office 
        %option{:value => 'current'} In Theaters
        %option{:value => 'opening'} Opening
        %option{:value => 'upcoming'} Upcoming Movies

      %img#LoadingImage{:src => '/images/ajax-loader.gif', :alt => 'loading...'}
      %table#MovieTable
        %tr.header_row
          %th.title 
            %a{:href => '#'} Movie
          %th.freshness 
            %a{:href => '#'} Freshness
          %th.opening_day 
            %a{:href => '#'} Opening Day
          %th.comment_count 
            %a{:href => '#'} # of Comments
      #EmptyMessage
        While it's possible there are no movies in this list, it's more likely there was an API error.
    
    %script#TMPMovieRows{ :type => "text/x-jquery-tmpl"}
      %td 
        %img.poster_thumbnail{:src => "${attributes.posters.thumbnail}", :title => "thumbnail"}
        .summary_holder
          %h4.title ${attributes.title} (${attributes.mpaa_rating}, ${attributes.runtime} Mins)
          .critics_consensus ${attributes.critics_consensus}
      %td
        / If we have a rating, we should use one of our icons
        {{if attributes.ratings.critics_rating}}
        {{if attributes.ratings.critics_rating.toLowerCase().match(/fresh/)}}
        .rt_icon_fresh
        {{else}}
        .rt_icon_rotten
        {{/if}}
        {{/if}}

        / When there no rating number, the score is -1
        {{if attributes.ratings.critics_score >= 0}}
        ${attributes.ratings.critics_score}
        ${attributes.ratings.critics_rating}
        {{else}}
        Not Rated Yet
        {{/if}}

      %td ${attributes.release_dates.theater}
      %td ${attributes.comment_count}

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8689104-5']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); 
        ga.type = 'text/javascript'; 
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    / We're going all CDN crazy with googleapis and cdnjs
    / http://www.cdnjs.com has insane uptime and serves a TON of libraries across Amazon Cloudfront & Route 53 :)
    / Required Libraries
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{:src => "http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.2.2/underscore-min.js"}
    %script{:src => "http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5.3/backbone-min.js"}
    %script{:src => "http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"}
    %script{:src => "/javascripts/req/amplify.min.js"}

    / The backbone app scripts
    / [1] Models
    %script{:src => "javascripts/app/models/sort_manager.js"}
    %script{:src => "javascripts/app/models/movie.js"}
    %script{:src => "javascripts/app/models/comment.js"}
                               
    / [2] Collections          
    %script{:src => "javascripts/app/collections/movies.js"}
    %script{:src => "javascripts/app/collections/comments.js"}
                               
    / [3] Views                
    %script{:src => "javascripts/app/views/movie_table_row.js"}
    %script{:src => "javascripts/app/views/movie_table.js"}

    / [4] Router - Just one per app.
    %script{:src => "javascripts/app/router.js"}

    :javascript
      $(function(){
        // Create an instance of the app
        window.COTM = new CommentOnTheMovies();

        // Start the app
        window.COTM.start();
      });
