!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Comment on the Movies
    %link{:href => "main.css", :media => "screen", :rel => "stylesheet"}/
  %body
    %h1
      Comment on the Movies
    %div
      ="My API key is #{@api_key}"
