a{
  color: #21759B;
  text-decoration: none;
}

a:hover{
  color: #D54E21;
}

body{
  /*From http://subtlepatterns.com/?p=1058*/
  background: url('/images/bg-snow.png');
  margin: 0px auto;
  padding: 5px 20px;
  text-align: left;
  width: 1000px;
}

.clear{
  clear: both;
}

h1{
  color: red;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

h4{
  margin-bottom: 5px;
}

html{
  text-align: center;
}

table{
  background-color: #fff;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-spacing: 0px;
}

td, th{
  border-left: solid 1px #bbb;
  padding: 5px;
}

td{
  border-bottom: solid 1px #eee;
  border-top: solid 1px #aaa;
  vertical-align: top;
}

th{
  background-color: #F1F1F1;
  background-image: -ms-linear-gradient(top,#F9F9F9,#ECECEC);
  background-image: -moz-linear-gradient(top,#F9F9F9,#ECECEC);
  background-image: -o-linear-gradient(top,#F9F9F9,#ECECEC);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#F9F9F9),to(#ECECEC));
  background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
  background-image: linear-gradient(top,#F9F9F9,#ECECEC);
}

th a{
  display: block;
  font-size: 20px;
  font-weight: bold;
}

a i.icon-chevron-down, a i.icon-chevron-up{
  display: none;
}

th.desc i.icon-chevron-down{
  display: inline-block;
}

th.asc i.icon-chevron-up{
  display: inline-block;
}

td.commentCount{
  font-weight: bold;
}

.details{
  float: left;
  margin-left: 25px;
  width: 360px;
}

h3.js-title{
  margin-top: 0px;
  margin-bottom: 0px;
}

.freshness_score{
  margin-left: 30px;
  margin-top: 5px;
}

.movie_row.alt{
  background-color: #fbfbfb;
}

.movie-comment-column{
  height: 225px;
  overflow-y: auto;
}

h3.headline{
  border-bottom: solid 1px black;
  margin-bottom: 20px;
  margin-top: 5px;
  padding-bottom: 10px;
  text-align: center;
}

.poster-and-rating{
  float: left;
  margin-left: 10px;
  width: 280px;
}

.movie-comment-column li{
  border-bottom: solid 1px #999;
  list-style-type: none;
  margin-top: 10px;
  padding-bottom: 10px;
}

.movie_poster{
  display: block;
  height: 408px;
  margin: 0px auto 15px auto;
  width: 275px;
}

.movie-comment-column li.last{
  border-bottom: none;
}

.rt_icon_fresh{
  background: no-repeat url('http://images.rottentomatoescdn.com/images/redesign/icons-v2.png') -287px -48px;
  /*display: inline-block;*/
  float: left;
  height: 25px;
  width: 25px;
}

.rt_icon_rotten{
  background: no-repeat url('http://images.rottentomatoescdn.com/images/redesign/icons-v2.png') -287px -95px;
  /*display: inline-block;*/
  float: left;
  height: 25px;
  width: 25px;
}

.sawMovie{
  float: left;
  margin-right: 5px;
  /*margin-top: 3px;*/
}

ul.movie-comment-column{
  margin-left: 0px;
  padding-left: 0px;
}

.next_week_link{
  float: right;
}

.poster_thumbnail{
  float: left;
  width: 62px;
}

.summary_holder{
  margin-left: 75px;
}

h4.title{
  margin: 0px 0px 5px 0px;
}

td.opening_day, td.comment_count{
  padding-top: 10px;
}

td.title, th.title{
  border-left: none;
  width: 450px;
}

th.title{
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
}

th.comment_count{
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
}

#commentText{
  height: 50px;
  margin-bottom: 5px;
  width: 100%;
}

#DateSpan{
  color: #A00;
  font-size:14px;
  font-weight: bold;
}

#EmptyMessage{
  display: none;
}

#EmptyMessage, #MovieTable{
  margin-top: 15px;
}

#Footer{
  margin: 20px 0px;
  text-align: center;
}

#Footer p{
  margin: 0px;
}

#LoadingImage{
  display: none;
}

#MovieDetails{
  display: none;
  width: 700px;
  /*border: 1px solid orange; /*Temporary*/*/
}

#MovieDetailContainer{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-top-radius: 3px;
  border: solid 1px grey;
  min-height: 100px;
}

#MovieTable{
  border: solid 1px grey;
  display: none;
  width: 100%;
}

#PoweredByDiv{
  float: right;
  text-align: right;
}

#PoweredByLink{
  background: no-repeat url('http://images.rottentomatoescdn.com/images/redesign/rtbyflix.png?v=19012011');
  display: inline-block;
  height: 62px;
  width: 147px
}

#ListType{
  font-size:17px;
  font-weight: bold;
}
