body{
  margin: 0px auto;
  padding: 5px 20px;
  text-align: left;
  width: 1000px;
}

h1{
  color: red;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

html{
  text-align: center;
}

td, th{
  border: solid 1px #888;
  padding: 5px;
}

th{
  font-size: 16px; 
  font-weight: bold;
  padding: 10px;
}

.rt_icon_fresh{
  background: no-repeat url('http://images.rottentomatoescdn.com/images/redesign/icons-v2.png') -287px -48px;
  display: inline-block;
  height: 25px;
  width: 25px;
}

.rt_icon_rotten{
  background: no-repeat url('http://images.rottentomatoescdn.com/images/redesign/icons-v2.png') -287px -95px;
  display: inline-block;
  height: 25px;
  width: 25px;
}

.next_week_link{
  float: right;
}

.pagination{
  font-weight: bold;
  margin: 10px 0px;
}

h4.title{
  margin: 0px 0px 5px 0px;
}

#DateSpan{
  color: #A00;
  font-size:14px;
  font-weight: bold;
}

#EmptyMessage{
  display: none;
}

#EmptyMessage, #MovieTable{
  margin-top: 15px;
}

#LoadingImage{
  display: none;
}

#MovieTable{
  border: solid 1px grey;
  display: none;
  width: 100%;
}

#PoweredByDiv{
  float: right;
  text-align: right;
}

#PoweredByLink{
  background: no-repeat url('http://images.rottentomatoescdn.com/images/redesign/rtbyflix.png?v=19012011');
  display: inline-block;
  height: 62px;
  width: 147px
}

#WOTY{
  font-size:17px;
  font-weight: bold;
}
